body {
  background-color: #DECEC8;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16px;
}

.main-title {
  text-align: center;
}

#main-map {
  height: 90vh;
  width: 80vw;
  margin: auto;
}

.bolder {
  font-weight: bold;
}

.map-options {
  position: absolute;
  top: 10vh;
  right: 12.5vw;
  z-index: 1000;
  background-color: white;
  padding: 1rem;
}

.map-options h6 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.leaflet-popup-content p {
  margin: 0;
  padding: 0;
}